restapi1/NewWSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Emp" type="tns:EmpType"/>
      <xsd:element ibmSchExtn:docRoot="true" name="EmpResponse" type="tns:EmpResponseType"/>

      <xsd:complexType name="EmpType">
      	<xsd:sequence>
      		<xsd:element name="EmpId" type="xsd:int"/>
      		<xsd:element name="EmpName" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="EmpResponseType">
      	<xsd:sequence>
      		<xsd:element name="EmpMobileNumber" type="xsd:int" />
      		<xsd:element name="EmpAddress" type="xsd:string" />
      		<xsd:element name="EmpDesignation" type="xsd:string" />
      		<xsd:element name="EmpId" type="xsd:int"></xsd:element>
      		<xsd:element name="EmpName" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>