App1/one.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="a" type="xsd:string"/>
  <xsd:element name="b" type="xsd:string"/>
  <xsd:element name="operation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="addition"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="addition">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="a"/>
        <xsd:element ref="b"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>