sampleAPI/RemoteFiles/xsd_33.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/GETLOANDETAILS" version="1.0">

<xsd:complexType name="GETLOANDETAILSType">
<xsd:sequence>
<xsd:element minOccurs="0" name="gGETLOANDETAILSDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mGETLOANDETAILSDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="selFldID" type="xsd:string"/>
<xsd:element minOccurs="0" name="LoanIdentifier" type="xsd:string"/>
<xsd:element minOccurs="0" name="OutstandingBalanceBase" type="xsd:string"/>
<xsd:element minOccurs="0" name="OriginalLoanAmountBase" type="xsd:string"/>
<xsd:element minOccurs="0" name="OriginationDate" type="xsd:string"/>
<xsd:element minOccurs="0" name="CurrentInterestRate" type="xsd:string"/>
<xsd:element minOccurs="0" name="ExpectedDueDate" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>