sampleAPI/RemoteFiles/xsd_25.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/ACCTCOMPANYVIEW" version="1.0">

<xsd:complexType name="ACCTCOMPANYVIEWType">
<xsd:sequence>
<xsd:element minOccurs="0" name="gACCTCOMPANYVIEWDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mACCTCOMPANYVIEWDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="selFldID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCOUNTTITLE1" type="xsd:string"/>
<xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BRANCHNAME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>