sampleAPI/RemoteFiles/xsd_22.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/ACLOCKEDEVENTS" version="1.0">

<xsd:complexType name="ACLOCKEDEVENTSType">
<xsd:sequence>
<xsd:element minOccurs="0" name="ACCOUNTNUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="DESCRIPTION" type="xsd:string"/>
<xsd:element minOccurs="0" name="FROMDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="TODATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCKEDAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="RCRETRY" type="xsd:string"/>
<xsd:element minOccurs="0" name="RCDETAILID" type="xsd:string"/>
<xsd:element minOccurs="0" name="BLOCKPRIORITY" type="xsd:string"/>
<xsd:element minOccurs="0" name="TRANSREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYMENTAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYMENTCCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED4" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED3" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED2" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED1" type="xsd:string"/>
<xsd:element minOccurs="0" name="gOVERRIDE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="RECORDSTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINPUTTER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUTTER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gDATETIME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DATETIME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="AUTHORISER" type="xsd:string"/>
<xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEPTCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITORCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITDATETIME" type="xsd:string"/>
<xsd:element minOccurs="0" name="ATUNIQUEID" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>