sampleAPI/RemoteFiles/xsd_17.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/CARDISSUE" version="1.0">

<xsd:complexType name="CARDISSUEType">
<xsd:sequence>
<xsd:element minOccurs="0" name="CARDSTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="gACCOUNT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCOUNT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISSUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="EXPIRYDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gNAME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NAME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="PINISSUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LIMIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CANCELLATIONDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CANREASON" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGES" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gNOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NOTES" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="STOCKREGID" type="xsd:string"/>
<xsd:element minOccurs="0" name="STOCKSERIERSID" type="xsd:string"/>
<xsd:element minOccurs="0" name="LSTREPAYDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LSTBILLINGCLOSE" type="xsd:string"/>
<xsd:element minOccurs="0" name="REPAYDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BILLINGCLOSE" type="xsd:string"/>
<xsd:element minOccurs="0" name="NEWREPAYDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="NEWBILLINGCLOSE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ORIGREPAYDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ORIGBILLINGCLOSE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CARDSTARTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED10" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED9" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED8" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED7" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED6" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED5" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED4" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED3" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED2" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED1" type="xsd:string"/>
<xsd:element minOccurs="0" name="gSTMTNO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="STMTNO" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gOVERRIDE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="RECORDSTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINPUTTER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUTTER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gDATETIME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DATETIME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="AUTHORISER" type="xsd:string"/>
<xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEPTCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITORCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITDATETIME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>