sampleAPI/RemoteFiles/xsd_5.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/EMMTTXNFT" version="1.0">

<xsd:complexType name="EMMTTXNFTType">
<xsd:sequence>
<xsd:element minOccurs="0" name="gEMMTTXNFTDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mEMMTTXNFTDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="selFldTRANSACTIONID" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="MMTREFERENCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="FTREFERENCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>