sampleAPI/RemoteFiles/xsd_32.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/IMAGEVIEWFINDNEW" version="1.0">

<xsd:complexType name="IMAGEVIEWFINDNEWType">
<xsd:sequence>
<xsd:element minOccurs="0" name="ZERORECORDS" type="xsd:string"/>
<xsd:element minOccurs="0" name="gIMAGEVIEWFINDNEWDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mIMAGEVIEWFINDNEWDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ImageReferenceNo" type="xsd:string"/>
<xsd:element minOccurs="0" name="HEADER1" type="xsd:string"/>
<xsd:element minOccurs="0" name="ImageType" type="xsd:string"/>
<xsd:element minOccurs="0" name="Application" type="xsd:string"/>
<xsd:element minOccurs="0" name="Description" type="xsd:string"/>
<xsd:element minOccurs="0" name="ImagePath" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCOUNTNo" type="xsd:string"/>
<xsd:element minOccurs="0" name="AccountName" type="xsd:string"/>
<xsd:element minOccurs="0" name="BranchCode" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>