sampleAPI/RemoteFiles/xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/FUNDSTRANSFERECX1" version="1.0">

<xsd:complexType name="FUNDSTRANSFERECX1Type">
<xsd:sequence>
<xsd:element minOccurs="0" name="TRANSACTIONTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITCURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITVALUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="gORDERINGCUST">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ORDERINGCUST" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>