sampleAPI/RemoteFiles/xsd_23.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/PAYMENTSTOPREVOKECBOWS" version="1.0">

<xsd:complexType name="PAYMENTSTOPREVOKECBOWSType">
<xsd:sequence>
<xsd:element minOccurs="0" name="AccountCurrency" type="xsd:string"/>
<xsd:element minOccurs="0" name="gPAYMSTOPTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mPAYMSTOPTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="PAYMSTOPTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="FIRSTCHEQUENO" type="xsd:string"/>
<xsd:element minOccurs="0" name="LASTCHEQUENO" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHEQUETYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="STOPDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AmountFrom" type="xsd:string"/>
<xsd:element minOccurs="0" name="AmountTo" type="xsd:string"/>
<xsd:element minOccurs="0" name="BENEFICIARY" type="xsd:string"/>
<xsd:element minOccurs="0" name="RevokeYN" type="xsd:string"/>
<xsd:element minOccurs="0" name="sgREMARKS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="REMARKS">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="REMARKS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="sgCHARGECODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CHARGECODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="CHARGECODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHGACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHGCURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHGAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXCCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXDATE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CustomerID" type="xsd:string"/>
<xsd:element minOccurs="0" name="gMODPSCHQNO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mMODPSCHQNO">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ChequeNostoRevoke" type="xsd:string"/>
<xsd:element minOccurs="0" name="ChequeType" type="xsd:string"/>
<xsd:element minOccurs="0" name="StopRevokeDate" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>