sampleAPI/RemoteFiles/xsd_13.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/CHEQUEISSUE" version="1.0">

<xsd:complexType name="CHEQUEISSUEType">
<xsd:sequence>
<xsd:element minOccurs="0" name="CHEQUESTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISSUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="NUMBERISSUED" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGES" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="STOCKREG" type="xsd:string"/>
<xsd:element minOccurs="0" name="SERIESID" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHQNOSTART" type="xsd:string"/>
<xsd:element minOccurs="0" name="gNOTES">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NOTES" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gCHGCODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mCHGCODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="CHGCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHGAMOUNT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gTAXCODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mTAXCODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="TAXCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXAMT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="WAIVECHARGES" type="xsd:string"/>
<xsd:element minOccurs="0" name="gCLASSTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mCLASSTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="CLASSTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="MESSAGECLASS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ACTIVITY" type="xsd:string"/>
<xsd:element minOccurs="0" name="gDELIVERYREF">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DELIVERYREF" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="AUTOCHEQUENUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED9" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED8" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED7" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED6" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED5" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED4" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED3" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED2" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED1" type="xsd:string"/>
<xsd:element minOccurs="0" name="gSTMTNO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="STMTNO" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gOVERRIDE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="RECORDSTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINPUTTER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUTTER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gDATETIME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DATETIME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="AUTHORISER" type="xsd:string"/>
<xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEPTCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITORCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITDATETIME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>