sampleAPI/RemoteFiles/xsd_7.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/EMMTMINISTMT" version="1.0">

<xsd:complexType name="EMMTMINISTMTType">
<xsd:sequence>
<xsd:element minOccurs="0" name="gEMMTMINISTMTDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mEMMTMINISTMTDetailType">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="selFldACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="selFldNOOFRECS" type="xsd:string"/>
<xsd:element minOccurs="0" name="TXNREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="CRAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="DRAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="DATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DESC" type="xsd:string"/>
<xsd:element minOccurs="0" name="BALANCE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>