sampleAPI/RemoteFiles/xsd_4.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/FUNDSTRANSFER" version="1.0">

<xsd:complexType name="FUNDSTRANSFERType">
<xsd:sequence>
<xsd:element minOccurs="0" name="TRANSACTIONTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="INDEBITACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRENCYMKTDR" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITCURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITVALUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="INDEBITVDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITTHEIRREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITTHEIRREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRENCYMKTCR" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITCURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITVALUEDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="TREASURYRATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="NEGDEALERREFNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="PROCESSINGDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gORDERINGCUST">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ORDERINGCUST" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINORDERINGCUS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INORDERINGCUS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gORDERINGBANK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ORDERINGBANK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINORDERINGBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INORDERINGBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCTWITHBANK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCTWITHBANK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gACCTWITHBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCTWITHBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="BENACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="INBENACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="gBENCUSTOMER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BENCUSTOMER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINBENCUSTOMER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INBENCUSTOMER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gBENBANK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BENBANK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINBENBANK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INBENBANK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CHEQUENUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="gPAYMENTDETAILS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="PAYMENTDETAILS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINPAYDETAILS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INPAYDETAILS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="BCBANKSORTCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="RECEIVERBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="gRECCORRBANK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="RECCORRBANK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINTERMEDBANK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INTERMEDBANK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gININTMEDBANK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ININTMEDBANK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="MAILING" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYMETHOD" type="xsd:string"/>
<xsd:element minOccurs="0" name="BENOURCHARGES" type="xsd:string"/>
<xsd:element minOccurs="0" name="INBENOURCHARGES" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGESACCTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGECOMDISPLAY" type="xsd:string"/>
<xsd:element minOccurs="0" name="COMMISSIONCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gCOMMISSIONTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mCOMMISSIONTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="COMMISSIONTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="COMMISSIONAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="COMMISSIONFOR" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CHARGECODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gCHARGETYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mCHARGETYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="CHARGETYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGEAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGEFOR" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CUSTOMERSPREAD" type="xsd:string"/>
<xsd:element minOccurs="0" name="BASECURRENCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="PROFITCENTRECUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="PROFITCENTREDEPT" type="xsd:string"/>
<xsd:element minOccurs="0" name="RETURNTODEPT" type="xsd:string"/>
<xsd:element minOccurs="0" name="PRIORITYTXN" type="xsd:string"/>
<xsd:element minOccurs="0" name="gBKTOBKINFO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BKTOBKINFO" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINBKTOBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INBKTOBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="EXPOSUREDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="FEDFUNDS" type="xsd:string"/>
<xsd:element minOccurs="0" name="POSITIONTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="NOOFBATCHITEMS" type="xsd:string"/>
<xsd:element minOccurs="0" name="gFREETEXTMSGTO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="FREETEXTMSGTO" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gMESSAGE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="MESSAGE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gTAXTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mTAXTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="TAXTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXAMT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="AMOUNTDEBITED" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMOUNTCREDITED" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTALCHARGEAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTALTAXAMOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CUSTOMERRATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINRECCORRBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INRECCORRBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="INWARDPAYTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINSENDCORRBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INSENDCORRBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="TELEXFROMCUST" type="xsd:string"/>
<xsd:element minOccurs="0" name="DELIVERYINREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="gDELIVERYOUTREF">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DELIVERYOUTREF" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CREDITCOMPCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITCOMPCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="DELIVERYMKR" type="xsd:string"/>
<xsd:element minOccurs="0" name="ORDCUSTCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCTWITHBKACNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCAMTDEBITED" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCAMTCREDITED" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCTOTTAXAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCALCHARGEAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOCPOSCHGSAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="MKTGEXCHPROFIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="RATEINPUTMKR" type="xsd:string"/>
<xsd:element minOccurs="0" name="CUSTGROUPLEVEL" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEBITCUSTOMER" type="xsd:string"/>
<xsd:element minOccurs="0" name="CREDITCUSTOMER" type="xsd:string"/>
<xsd:element minOccurs="0" name="SENDPAYMENTYN" type="xsd:string"/>
<xsd:element minOccurs="0" name="DRADVICEREQDYN" type="xsd:string"/>
<xsd:element minOccurs="0" name="CRADVICEREQDYN" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEALMARKET" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHARGEDCUSTOMER" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINREASONOVE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INREASONOVE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="DEALERDESK" type="xsd:string"/>
<xsd:element minOccurs="0" name="RECALCFWDRATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="RETURNCHEQUE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DRAWNACCOUNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCOUNTINGDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINSTRCTNCODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INSTRCTNCODE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="COLLREMBK" type="xsd:string"/>
<xsd:element minOccurs="0" name="EXPECTEDRECSID" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTRECCOMM" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTRECCOMMLCL" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTRECCHG" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTRECCHGLCL" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHEQTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gRELATEDMSG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mRELATEDMSG">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="RELATEDMSG" type="xsd:string"/>
<xsd:element minOccurs="0" name="sgTIMEIND">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="TIMEIND">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="TIMEIND" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINTIMEIND">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INTIMEIND" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gSENDTOPARTY">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mSENDTOPARTY">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="SENDTOPARTY" type="xsd:string"/>
<xsd:element minOccurs="0" name="sgBKTOBKOUT">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BKTOBKOUT">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="BKTOBKOUT" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="s" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="sg" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="MESSAGETYPE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="REVERSALMKR" type="xsd:string"/>
<xsd:element minOccurs="0" name="RELATEDREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="gININSTRCODE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ININSTRCODE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINPROCESSERR">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INPROCESSERR" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINSWIFTMSG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INSWIFTMSG" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ACCTWITHBANKACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="INACCTBANKACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="RECCORRBANKACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="INRECCORRACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="INTERMEDBANKACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="ININTERMEDACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="INSTRUCTEDAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="gININTERMEDBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ININTERMEDBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="INEXCHRATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="RATEFIXING" type="xsd:string"/>
<xsd:element minOccurs="0" name="COVERMETHOD" type="xsd:string"/>
<xsd:element minOccurs="0" name="gIN3RDREIMBBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="IN3RDREIMBBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="IN3RDREIMBACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="MT103TYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="EXTENDFORMAT" type="xsd:string"/>
<xsd:element minOccurs="0" name="gEXTENDINFO">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="EXTENDINFO" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="RATEFIXINGIND" type="xsd:string"/>
<xsd:element minOccurs="0" name="INWSENDBIC" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINSENDCHG">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INSENDCHG" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="INRECCHG" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCHGREQID" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTRECCHGCRCCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="TOTSNDCHGCRCCY" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHGADVICEMSG" type="xsd:string"/>
<xsd:element minOccurs="0" name="EXPECTEDCOVERID" type="xsd:string"/>
<xsd:element minOccurs="0" name="NETTINGSTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUTHDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BKOPERATIONCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMINFLOWRATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="PARENTTXNID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ROUNDTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BENEFICIARYID" type="xsd:string"/>
<xsd:element minOccurs="0" name="gMSGTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mMSGTYPE">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="MSGTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="MSGDATE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gSIGNATORY">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SIGNATORY" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="CARDNUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="gCARDTXNDETAIL">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CARDTXNDETAIL" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINCORDBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INCORDBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINCINTMEDBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INCINTMEDBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINCACCWITBK">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INCACCWITBK" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINCBKTBKIN">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INCBKTBKIN" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="TFSREFERENCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="CHEQUEDRAWN" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISSUECHEQUETYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="STOCKNUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYEENAME" type="xsd:string"/>
<xsd:element minOccurs="0" name="STOCKREGISTER" type="xsd:string"/>
<xsd:element minOccurs="0" name="SERIESID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ORDCUSTACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="INORDCUSTACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANDEBIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANCREDIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANBEN" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANACCTWITHBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANRECCORRBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANINTERMEDBANK" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANORDCUSTACC" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBANCHARGESACCT" type="xsd:string"/>
<xsd:element minOccurs="0" name="BICIBANBEN" type="xsd:string"/>
<xsd:element minOccurs="0" name="gBICIBANBENNAME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BICIBANBENNAME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="BICIBANBENCITY" type="xsd:string"/>
<xsd:element minOccurs="0" name="gBENNAME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BENNAME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gBENADDRESS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BENADDRESS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="BENCOUNTRY" type="xsd:string"/>
<xsd:element minOccurs="0" name="gBENTOWN">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BENTOWN" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINBENNAME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INBENNAME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gINBENADDRESS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INBENADDRESS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="INBENCOUNTRY" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINBENTOWN">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INBENTOWN" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gREFDATAITEM">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mREFDATAITEM">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="REFDATAITEM" type="xsd:string"/>
<xsd:element minOccurs="0" name="REFDATAVALUE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gLOCEQUIVCHGS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="LOCEQUIVCHGS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gFOREQUIVCHGS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="FOREQUIVCHGS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="REGCOMPLIANCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED5" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED4" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED3" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESERVED2" type="xsd:string"/>
<xsd:element minOccurs="0" name="TCSIMACCEPTED" type="xsd:string"/>
<xsd:element minOccurs="0" name="gSTMTNOS">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="STMTNOS" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gOVERRIDE">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="RECORDSTATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="CURRNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="gINPUTTER">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUTTER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="gDATETIME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DATETIME" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="AUTHORISER" type="xsd:string"/>
<xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DEPTCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITORCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="AUDITDATETIME" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBLCCODEDR" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBLCCODECR" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBLCCODECH" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBLCCOUNTRYDR" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBLCCOUNTRYCR" type="xsd:string"/>
<xsd:element minOccurs="0" name="IBLCCOUNTRYCH" type="xsd:string"/>
<xsd:element minOccurs="0" name="IMMEDIATELY" type="xsd:string"/>
<xsd:element minOccurs="0" name="FUTUREDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="FACODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BRCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LOANTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISCONID" type="xsd:string"/>
<xsd:element minOccurs="0" name="LASTVERSION" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISCUSTID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISSUPPLIER" type="xsd:string"/>
<xsd:element minOccurs="0" name="CMATXNREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="BENCOUNTRY1" type="xsd:string"/>
<xsd:element minOccurs="0" name="BAJLDREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="BAJSELLQTY" type="xsd:string"/>
<xsd:element minOccurs="0" name="BAJMKTPRICE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BAJCMDTYCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BAJCMDTYDTL" type="xsd:string"/>
<xsd:element minOccurs="0" name="IARCONID" type="xsd:string"/>
<xsd:element minOccurs="0" name="BROKERLIMIT" type="xsd:string"/>
<xsd:element minOccurs="0" name="BATRFCHRGS" type="xsd:string"/>
<xsd:element minOccurs="0" name="BAJELNOTES" type="xsd:string"/>
<xsd:element minOccurs="0" name="BATRFAMNT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISSOURCE" type="xsd:string"/>
<xsd:element minOccurs="0" name="VENDORID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISLDID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISCOMFTID" type="xsd:string"/>
<xsd:element minOccurs="0" name="FTPURQTY" type="xsd:string"/>
<xsd:element minOccurs="0" name="FTPURAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="COMMKTPRICE" type="xsd:string"/>
<xsd:element minOccurs="0" name="DRAWINGSID" type="xsd:string"/>
<xsd:element minOccurs="0" name="CUSTFACILTYID" type="xsd:string"/>
<xsd:element minOccurs="0" name="BVSWUPD" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISLTQRCSREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISLTQCHGTYP" type="xsd:string"/>
<xsd:element minOccurs="0" name="LLOANRCOSNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISENTRIESREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="LCID" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="COSTTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="LFINREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISASSETID" type="xsd:string"/>
<xsd:element minOccurs="0" name="ADVPAYCONT" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISTPAYMTHD" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISTSTAGE" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISDPRECEIVED" type="xsd:string"/>
<xsd:element minOccurs="0" name="ISAPPAID" type="xsd:string"/>
<xsd:element minOccurs="0" name="SECNUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="REMNAME" type="xsd:string"/>
<xsd:element minOccurs="0" name="REMADDRESS" type="xsd:string"/>
<xsd:element minOccurs="0" name="QUESTION" type="xsd:string"/>
<xsd:element minOccurs="0" name="SECANSWER" type="xsd:string"/>
<xsd:element minOccurs="0" name="BENADDRS" type="xsd:string"/>
<xsd:element minOccurs="0" name="BENNME" type="xsd:string"/>
<xsd:element minOccurs="0" name="CPODDAMT" type="xsd:string"/>
<xsd:element minOccurs="0" name="CPODDNUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="PURCHASEDBY" type="xsd:string"/>
<xsd:element minOccurs="0" name="PURCHASERADD" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYMENTDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYBRDAOCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="gBEN.ADD">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BENADD" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ISSBRDAOCODE" type="xsd:string"/>
<xsd:element minOccurs="0" name="INSTRUMENTTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="TXNCHECKER" type="xsd:string"/>
<xsd:element minOccurs="0" name="TXNCSM" type="xsd:string"/>
<xsd:element minOccurs="0" name="FXPERMITNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="PONUMBER" type="xsd:string"/>
<xsd:element minOccurs="0" name="gTRAN.REQ">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="mTRAN.REQ">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="TRANREQ" type="xsd:string"/>
<xsd:element minOccurs="0" name="DOCIMAGE" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="m" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="g" type="xsd:positiveInteger"/>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="REMTELNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="TELNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="LASTSIMTIME" type="xsd:string"/>
<xsd:element minOccurs="0" name="MMTREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXBILLID" type="xsd:string"/>
<xsd:element minOccurs="0" name="TAXBILLERID" type="xsd:string"/>
<xsd:element minOccurs="0" name="PAYALLOWED" type="xsd:string"/>
<xsd:element minOccurs="0" name="ECXREFNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="ECXFILEID" type="xsd:string"/>
<xsd:element minOccurs="0" name="PHONENO" type="xsd:string"/>
<xsd:element minOccurs="0" name="REFERENCENUM" type="xsd:string"/>
<xsd:element minOccurs="0" name="AMLTXN" type="xsd:string"/>
<xsd:element minOccurs="0" name="CATVIEW" type="xsd:string"/>
<xsd:element minOccurs="0" name="BILLTYPE" type="xsd:string"/>
<xsd:element minOccurs="0" name="BENEFICIARY" type="xsd:string"/>
<xsd:element minOccurs="0" name="BANKBIC" type="xsd:string"/>
<xsd:element minOccurs="0" name="SUSPAGING" type="xsd:string"/>
<xsd:element minOccurs="0" name="WWCEREF" type="xsd:string"/>
<xsd:element minOccurs="0" name="ATUNIQUEID" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>