sampleAPI/RemoteFiles/xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/PINCHANGEREQINPACE" version="1.0">

<xsd:complexType name="PINCHANGEREQINPACEType">
<xsd:sequence>
<xsd:element minOccurs="0" name="CUSTOMERNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="ACCOUNTNO" type="xsd:string"/>
<xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
<xsd:element minOccurs="0" name="RESONE" type="xsd:string"/>
<xsd:element minOccurs="0" name="REQUESTEDDATE" type="xsd:string"/>
<xsd:element minOccurs="0" name="PANNUMBER" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:string"/>
</xsd:complexType>
</xsd:schema>