DFDLFIXED1/fixed.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="fixed">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element dfdl:initiator="" dfdl:lengthKind="delimited" name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element dfdl:initiator="(&quot;(" dfdl:length="11" dfdl:terminator=")&quot;)" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_valu1" name="head_elem1" type="xsd:string"/>
							<xsd:element dfdl:initiator="(" dfdl:length="15" dfdl:terminator=")" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_valu2" name="head_elem2" type="xsd:string"/>
							<xsd:element dfdl:initiator="(" dfdl:length="14" dfdl:terminator=")" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_valu3" name="head_elem3" type="xsd:string"/>
                            <xsd:element dfdl:length="16" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_value4" name="head_elem4" type="xsd:string"/>
                            <xsd:element dfdl:length="14" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_value5" name="head_elem5" type="xsd:string"/>
                            <xsd:element dfdl:length="14" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_value6" name="head_elem6" type="xsd:string"/>
                            <xsd:element dfdl:length="17" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_value7" name="head_elem7" type="xsd:string"/>
                            <xsd:element dfdl:initiator="&quot;(" dfdl:length="15" dfdl:terminator=")&quot;" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_value8" name="head_elem8" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:initiator="" dfdl:lengthKind="delimited" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element dfdl:initiator="(&quot;" dfdl:length="15" dfdl:terminator="&quot;)" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_valu1" name="body_elem1" type="xsd:string"/>
							<xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_valu2" name="body_elem2" type="xsd:string"/>
							<xsd:element dfdl:initiator="(&quot;" dfdl:length="15" dfdl:terminator="&quot;)" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_valu3" name="body_elem3" type="xsd:string"/>
                            <xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value4" name="body_elem4" type="xsd:string"/>
                            <xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value5" name="body_elem5" type="xsd:string"/>
                            <xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value6" name="body_elem6" type="xsd:string"/>
                            <xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value7" name="body_elem7" type="xsd:string"/>
                            <xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value8" name="body_elem8" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>