SOAP5/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="NewWSDLFile_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="NewWSDLFileSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
          <xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="NewWSDLFile_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="AdditionRequest">
    <wsdl:part element="tns:Addition" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AdditionResponse">
    <wsdl:part element="tns:AdditionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubtractionRequest">
  	<wsdl:part element="tns:Subtraction" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubtractionResponse">
  	<wsdl:part element="tns:SubtractionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="MultiplicationRequest">
  	<wsdl:part element="tns:Multiplication" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="MultiplicationResponse">
  	<wsdl:part element="tns:MultiplicationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DivisionRequest">
  	<wsdl:part element="tns:Division" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DivisionResponse">
  	<wsdl:part element="tns:DivisionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="Addition">
      <wsdl:input message="tns:AdditionRequest"/>
      <wsdl:output message="tns:AdditionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
    	<wsdl:input message="tns:SubtractionRequest"/>
    	<wsdl:output message="tns:SubtractionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
    	<wsdl:input message="tns:MultiplicationRequest"/>
    	<wsdl:output message="tns:MultiplicationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Division">
    	<wsdl:input message="tns:DivisionRequest"/>
    	<wsdl:output message="tns:DivisionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Addition"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Subtraction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Multiplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Division"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>