SOAP5/NewWSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="Addition">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="a" type="xsd:int"/>
          	<xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="AdditionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Add" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Subtraction">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="a" type="xsd:int"/>
      			<xsd:element name="b" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SubtractionResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Sub" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Multiplication">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="a" type="xsd:int"/>
      			<xsd:element name="b" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="MultiplicationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Mul" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="Division">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="a" type="xsd:int"/>
      			<xsd:element name="b" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="DivisionResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Div" type="xsd:int"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>