Mapping_1/mapxml.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="name" type="xsd:string"/>
  <xsd:element name="company" type="xsd:string"/>
  <xsd:element name="addr" type="xsd:string"/>
  <xsd:element name="req">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="name"/>
        <xsd:element ref="addr"/>
        <xsd:element ref="company"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>